*{
    box-sizing: border-box;
}
.correct{
    background-color: green;
}
.false{
    background-color: red;
}
.flee{
    cursor: not-allowed;
}

.selected{
    background-color: blue;
}
.next {
    display: none;
}
.result{
    display: none;
}